<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login|page</title>
  </head>
  <body>
    <%- include("./partials/messages.ejs")%>

    <div class="login-container">
      <div class="section">
        <h5>Create Ideas's for your life</h5>
      </div>

      <div class="section">
        <img
          src="../img/idea.jpg"
          alt=""
          srcset=""
          class="responsive-img"
          width="280px"
        />
      </div>
      <div class="section">
        <a href="auth/google" class="google">
          <i class="fab fa-google"> </i> Log In With Google
        </a>
      </div>
    </div>
  </body>
</html>
