@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.login-container {
  box-shadow: 7px 10px 25px rgba(0, 0, 0, 0.4);
  text-align: center;
  max-width: 60%;
  margin: 60px auto;
}

.google {
  display: inline-block;
  padding: 10px;
  color: #fff !important;
  background-color: rgb(182, 12, 12);
}
.google:hover {
  background-color: rgb(129, 5, 7);
}

.btn {
  display: flex;
}
